<nz-content>

    <div class="inner-content">
        ตัวแปรที่ส่งมาให้ คือ AN = {{queryParamsData}}

        <div class="rounded-lg border-blue-200 border-2 p-5">

            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div class="flex flex-col w-full">

                    <div class="flex flex-col w-full content-center">
                        <div class="flex text-sm font-bold">
                            Chest X-Ray<br>


                        </div>
                        <nz-divider class="w-full"></nz-divider>
                        วันที่ 5 กันยายน 2565 เวลา 14.00 น.

                    </div>

                    <div class="flex w-full">
                        <div>
                            <img nz-image width="1024px" height="1024px"
                                nzSrc="https://lifestyle.campus-star.com/app/uploads/2019/03/mai.jpg" alt="" />
                        </div>
                    </div>
                    <div class="flex text-sm font-bold">
                        dlkfvldkvldkvdlvdlvkldvdlvdlvkdlk
                        kjdvlsdkvmsdvmlsvmsm
                        lskclaskclsack </div>

                </div>


            </div>



        </div>

    </div>
</nz-content>