<nz-content>

    <div class="inner-content">
        Progress Note

        <div class="rounded-lg border-blue-200 border-2 p-5">

            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div class="flex flex-row w-full">

                    <div class="flex flex-col w-full content-center">
                        <div nz-row nzSpan="12"
                        class="w-[100%] font-bold">
                        Subjective<br>
                        

                        <div class="flex flex-col w-[100%]">

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                        </div>

                        

                    </div>

                    </div>

                   

                </div>

            </div>










            

            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div class="flex flex-row w-full">

                    <div class="flex flex-col w-full content-center">
                        <div nz-row nzSpan="12"
                        class="w-[100%] font-bold">
                        Objective<br>
                        

                        <div class="flex flex-col w-[100%]">

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                        </div>

                        

                    </div>

                    </div>

                   

                </div>

            </div>







            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div class="flex flex-row w-full">

                    <div class="flex flex-col w-full content-center">
                        <div nz-row nzSpan="12"
                        class="w-[100%] font-bold">
                        Assessment<br>
                        

                        <div class="flex flex-col w-[100%]">

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                        </div>

                        

                    </div>

                    </div>

                   

                </div>

            </div>






            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div class="flex flex-row w-full">

                    <div class="flex flex-col w-full content-center">
                        <div nz-row nzSpan="12"
                        class="w-[100%] font-bold">
                        Plan<br>
                        

                        <div class="flex flex-col w-[100%]">

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                            <div class="flex flex-row">

                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>
                                </div>

                            </div>

                        </div>

                        

                    </div>

                    </div>

                   

                </div>

            </div>






        </div>

    </div>
</nz-content>