/* .header-menu {
  line-height: 64px;
} */

/* .sider-menu {
  height: 100%;
  border-right: 0;
}

.layout {
  min-height: 100vh;
} */



nz-header {
  position: fixed;
  width: 100%;
}

/* [nz-menu] {
  line-height: 64px;
} */

/* nz-content {
  padding: 0 50px;
  margin-top: 64px;
} */

/* nz-breadcrumb {
  margin: 16px 0;
} */

/* .inner-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
} */

/* nz-footer {
  text-align: center;
} */