<nz-sider nzWidth="200px" nzTheme="light" nzCollapsible nzBreakpoint="xxl" [nzCollapsedWidth]="0">
  <!-- <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu"> -->
  <ul nz-menu nzMode="inline" class="sider-menu">
    <li nz-submenu nzOpen nzIcon="appstore-add" nzTitle="ผู้ป่วยใน">
      <ul>
        <li nz-menu-item routerLink="/doctor/main" routerLinkActive="ant-menu-item-selected">
          <span nz-icon nzType="home" nzTheme="twotone"></span>&nbsp;หน้าหลัก
        </li>
        <li nz-menu-item routerLink="/doctor/listward" routerLinkActive="ant-menu-item-selected">
          <span nz-icon nzType="contacts" nzTheme="twotone"></span>&nbsp;หอผู้ป่วย
        </li>
        <li nz-menu-item routerLink="/doctor/listpatient" routerLinkActive="ant-menu-item-selected">
          <span nz-icon nzType="contacts" nzTheme="twotone"></span>&nbsp;ทะเบียนผู้ป่วย
        </li>
        <li nz-menu-item routerLink="/doctor/admissionnote" routerLinkActive="ant-menu-item-selected">
          <span nz-icon nzType="contacts" nzTheme="twotone"></span>&nbsp;Admission Note
        </li>
        <li nz-menu-item routerLink="/test/swip" routerLinkActive="ant-menu-item-selected">
          <span nz-icon nzType="contacts" nzTheme="twotone"></span>&nbsp;Test
          <li nz-menu-item routerLink="/doctor/doctor-order" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="contacts" nzTheme="twotone"></span>&nbsp;Doctor Order
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
